/*<img src="https://78.media.tumblr.com/eb6a162a62671d00830e9ebbbd7b23e8/tumblr_one5cdZuEf1sz9v0lo1_640.jpg">*/

body {
    background-image: url("https://78.media.tumblr.com/tumblr_m9n80l3oNs1qhttpto4_1280.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-attachment: fixed;
    background-size:cover;
}
