#Bio{
  color:#ff9966;
}

body{
  background-color: #fff5eb;
}


#red_section{
  color: red;
}

/*change my name color and block around it*/

.myName {
  background-color: #ffb366;
  color: white;
  font-family:inherit;
  overflow:hidden;
  font-size: 20px;
}



/*add light pink background to top navigation*/
.topnav{
  background-color: #ffa64d;
  text-decoration-color: #f2f2f2;
  text-shadow: white;
  overflow: hidden;


}

/*style the links inside navigation bar*/

.topnav a {
  float:left;
  color:#f2f2f2;
  text-align: center;
  padding: 16px 16px;
  text-decoration:none;
  font-size: 20px;
}

/* Change when hover*/

.topnav a:hover{
  background-color: #ffbb33

}

/* add color to the active or current link   f5050*/

.topnav a.active {
  background-color:#ff8000;

}

/*hide the link that should open and close the topnav omn small screens*/
.topnav .icon{
  display: none;
}
